.dream-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.header-dream {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  color: antiquewhite;
  justify-content: space-evenly;
}

.header-dream img {
  width: 5em;
  height: 5em;
  border-radius: 1.5em;
}
